* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

content {
    flex: 0 0 auto;
}

main {
    flex-direction: column;
    flex: 1 0 auto;
    padding: 5%;
}

footer {
    flex: 0 0 auto;
}

.catalog {
    display: grid;
    grid-gap: 20px;
}

.catalog h1 {
    text-align: center;
    font-size: 25px;
}

.catalog p {
    text-align: center;
}



.catalog--fill {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}





.item {
    padding: 20px;
}

.item button {
    font-size: 12px;
    display: block;
    margin: 25px auto;
}

.item img {
    display: block;
    margin: auto;
}


body {
    padding: 2em;
}

hr {
    margin: 80px;
}