/* products.css */

/* Стили для заголовка */
h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для формы поиска */
.form-row {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

.select-city {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #555;
}

/* Стили для карточек товаров */
.card-columns {
    column-count: 3;
    column-gap: 20px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-text {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

.card-footer {
    background-color: #f0f0f0;
    padding: 5px;
    font-size: 14px;
    color: #777;
    text-align: center;
}