* {
    margin: 5px auto;
    text-align: center;

}

.all_products {
    border: 1px solid black;
    height: 250px;
    width: 520px;
}

#filter_products {
    border: 1px solid black;
    height: 250px;
    width: 520px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid black;
}