body {
    background-color: brown;
    max-width: 1400px;
 	margin: auto;

 	background-image: url(фит.png);
 	background-position: right top;
 	background-repeat: no-repeat;
 	background-attachment: fixed;

 	text-indent: 100px;
 }

 h1, h2, h3{
 	text-align: center;
 }

table{
    margin: auto;
 }

.p1{
	font-size: 4;
	color: white; 
	font-family: Arial Black;
	margin-bottom: 0;
	margin-top: 0;
}

.p2{
	font-size: 3; 
	color: LightCyan; 
	font-family: monospace;
	margin-bottom: 0;
	margin-top: 0;

}

.p3{
	font-size: 3;
	color: LightYellow;
	font-family: fantasy;
}

.h2{
	font-size: 4; 
	color: white; 
	font-family: fantasy;
	text-align: center;
}

ul li{
	list-style: none;
	background-image: url(bow.gif);
	background-repeat: no-repeat;
	height: 22px;
} 

.start{
	background-origin: content-box;

}

.fig{
	float: left;
	padding: 10px;
	width: 350px;
}

.fig2{
	float: right;
	padding: 10px;
	width: 350px;
}

td, th{
	border: 1px solid;
}