<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab11</title>
    <link rel="stylesheet" href="/utils/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/api.js"></script>
</head>
<body>
    <div>
        <table class="bg-dark container p-3 bg-opacity-10 table max-vw-100">
            <tr>
                <th>Кафедра</th>
                <th>Название кафедры</th>
                <th>Факультет</th>
            </tr>

        </table>
    </div>
</body>
<script src="/js/render.js"></script>
</html>