@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center"><h2>Admin Panel</h2></div>

<div class="flex_nav_menu">
    <a  class="nav-link text-dark" asp-action="AddNewRole">Add role</a>
    <a  class="nav-link text-dark" asp-action="DeleteRole">Delete role</a>
    <a  class="nav-link text-dark" asp-action="AddNewUser">Add user</a>
    <a  class="nav-link text-dark" asp-action="DeleteUser">Delete user</a>
    <a  class="nav-link text-dark" asp-action="AssignRolesToUser">Assign roles to user</a>
    <a  class="nav-link text-dark" asp-action="RemoveRolesFromUser">Remove roles from user</a>
</div>
