@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h1>Are you sure?</h1>

<form asp-action="SignOut" method="post">
    <button type="submit" class="btn btn-primary m-10">Sign Out</button>
</form>
