@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASPCMVC08</h1>
</div>

@section scripts {
    <script type="text/javascript"> alert('hello'); </script>
}