<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Album</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>
<div class="container">

<h1>New Album:</h1>
<form th:action="@{/addalbum}"
      th:object="${albumform}" method="POST">
   <p>Title:
    <input type="text" th:field="*{title}" />
    </p>
   <p> Author:
    <input type="text" th:field="*{author}" />
    </p>
    <input class ="button-main-page" type="submit" value="Add" />
</form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>
</body>